<div class="container">
  <div class="row">
    <div>
      <h1 class="text-center">Notes</h1>
    </div>
<div class="col-sm-1-1">
  
</div> <!-- end of col 1-->

<div class="col-sm-10-10">



  <span *ngFor="let note of notes | async " style="display:inline-block;" class="postit"> 

    <note-details [note]='note'></note-details>

  </span> <!-- end of *ngFor -->

  <div class="text-center">
    <button type="button" class="button btn-danger" (click)='deleteNotes()'>Delete All</button>
  </div>
</div> <!-- end of col 10-->
<div class="col-sm-1-1">
  
</div> <!-- end of col 1-->

</div> <!-- end of row-->
</div> <!-- end of container-->