<div class="container-fluid">

    <h3 class="text-center">Create Note</h3>
      <div class="row">
        <div class="col-1">
          </div> <!-- end of col 2-->
           <div class="col center">
<div class="jumbotron-fluid" [hidden]="submitted"> 
 <form class="text-center" (ngSubmit)="onSubmit()">
   
    <div class="form-group">
      <label for="titleofnote">Title of Note</label>
      <input type="text" class="form-control" id="titleofnote" required [(ngModel)]="note.titleofnote" name="titleofnote">
    </div>
    <div class="form-group">
      <label for="bodyofnote">Body of Note</label>
      <textarea cols="10" rows="5"  class="form-control" id="bodyofnote" required [(ngModel)]="note.bodyofnote" name="bodyofnote">
    </textarea>
    
    </div>
    <div class="form-group">
      <label for="dateofnote">Date of Note</label>
      <div >
      <ngb-datepicker class="btn-success" id="dateofnote" required [(ngModel)]="note.dateofnote" name="dateofnote" #d></ngb-datepicker>
    </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  </div>


  
  <div class="text-center" [hidden]="!submitted">
    <h4>You submit successfully</h4>
    <button class="btn btn-success text-center" (click)="newNote()">Add</button>
    </div>
  </div> <!-- end of col 10-->
    <div class="col-1">
    </div> <!-- end of col 1-->
  


    </div> <!-- end of row -->
    </div> <!-- end of container-->

