<h3>Create Note</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="titleofnote">Title of Note</label>
      <input type="text" class="form-control" id="titleofnote" required [(ngModel)]="note.titleofnote" name="titleofnote">
    </div>
    <div class="form-group">
      <label for="bodyofnote">Body of Note</label>
      <input type="text" class="form-control" id="bodyofnote" required [(ngModel)]="note.bodyofnote" name="bodyofnote">
    </div>
    <div class="form-group">
      <label for="dateofnote">Date of Note</label>
      <input type="text" class="form-control" id="dateofnote" required [(ngModel)]="note.dateofnote" name="dateofnote">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  </div>

  <div [hidden]="!submitted">
    <h4>You submit successfully</h4>
    <button class="btn btn-success" (click)="newNote()">Add</button>
  </div>



